.button{
    background-color: #000081dc;
    border-radius: 5px;
    padding: 15px 41px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.button:hover{
    background-color: #fff;
    border: 0.5px solid #000081;
    color: #000081be;
}