.contacts{
    background-color: #00008113;
    height: 450px;
}

.contacts__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.contacts__title{
    font-size: 40px;
    font-weight: bold;
}
.contacts__adress{
    font-size: 22px;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
}

.contacts__number{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
}

.contacts__mail{
    font-size: 22px;
    font-weight: bold;
}