.contacts{
    background-color: #00008113;
}

.contacts__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.contacts__title{
    font-size: 40px;
    font-weight: bold;
}
.contacts__adress{
    font-size: 22px;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
}

.contacts__number{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
}

.contacts__mail{
    font-size: 22px;
    font-weight: bold;
}

.socials__icon{
    display: flex;
}

.socials__link{
    display: block;
    width: 32px;
    height: 45px;
    margin:15px 0 0 15px;
  }

.socials__item-icon-ins .socials__link{
      background: url(../img/socials/ins.png) no-repeat;
  }

  .socials__item-icon-ins .socials__link:hover{
    background: url(../img/socials/ins-hover.png) no-repeat;
}

.socials__item-icon-vk .socials__link{
      background: url(../img/socials/vk.png) no-repeat;
  }
  .socials__item-icon-vk .socials__link:hover{
    background: url(../img/socials/vk-hover.png) no-repeat;
}

  .socials__item-icon-face .socials__link{
    background: url(../img/socials/facebook.png) no-repeat;
}
.socials__item-icon-face .socials__link:hover{
    background: url(../img/socials/facebook-hover.png) no-repeat;
}

.socials__item-icon-yt .socials__link{
   background: url(../img/socials/youtube-hover.png) center no-repeat;
}

.socials__item-icon-yt .socials__link:hover{
    background: url(../img/socials/youtube.png) no-repeat;
 }


.contacts__form{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 70px;
}


.contacts__field{
    padding: 16px 41px;
    padding-right: 5px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 18px;
}

.contacts__text{
    padding-top: 5px;
}

.contacts__button{
    padding-left: 5px;
    padding-top: 17px;
}