
.event__title{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 100px 0 50px 0;
    margin: 0;
}

.event__content{
    display: flex;
}

.event__preview{
    width: 70%;
    height: 500px;
    background: url(../img/students-1.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.event__calendar{
    width: 30%;
    padding-left: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 15px #000081be;
}

.month, p{
    font-size: 16px;
    margin: 0;
}

.month i{
    font-size: 24px;
    cursor: pointer;
}

.month h1{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.month{
    width: 100%;
    height: 80px;
    background-color: #000081be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.weekdays{
    width: 100%;
    height: 40px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.weekdays div{
    width: calc(300px/7);
    color: rgba(255, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.774) 1px 0 15px;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.days div{
    font-size: 14px;
    margin: 2px;
    width: calc(300px/7);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.774) 1px 0 15px;
    color: black;
    transition: background-color 0.2s;
}

.days div:hover:not(.today){
    background-color: #00008133;
    border: 1px solid #000081be;
    cursor: pointer;
}

.prev-date, .next-date{
    opacity: 0.5;
}

.today{
    background-color: #000081be;
}