.event{
    margin-top: 80px;
}

.event__title{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 0px 0 15px 0;
    margin: 0;
}

.event__subtitle{
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin-bottom: 50px;
}

.event__content{
    background-color: #000081be;
    height: 500px;
    width: 105%;
    overflow: hidden;
}

.event__img{
    width: 1160px;
}