.event{
    padding: 50px 0 0 0;
}


.event__text{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 40px 0 40px 0;
    margin: 0;
}

.event__inner{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.event__about{
    width: 70%;
    background-color: #000;
    height: 452px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
}

.event__img{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.9;
}

.event__content{
    position: absolute;
    top: 290px;
    left: 50px;
    z-index: 2;
    width: 35%;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.692);
}


.event__items{
    width: 30%;
    height: 450px;
}


.event__subitems{
    position: relative;
    height: 48%;
    background-color: black;
    margin-top: 20px;
    overflow: hidden;
}

.event__subitems:first-child{
    margin: 0;
}

.event__items--content{
    position: absolute;
    z-index: 2;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 69%);
    top: 50px;
    left: 25px;
    height: 100%;
    width: 85%;
    text-align: center;
}

.event__button{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


.news__inner{
    display: flex;
}


.news__item{
    margin-top: 15px;
    height: 250px;
    width: 25%;
    border-right: 1px solid black;
}

.news__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 80%;
    padding-left: 15px;
}

.news__about{
    padding-top: 25px;
}

.news__link{
    padding-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000081be;
}

.news__link:hover{
    color: #444;
}