.form__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 10px 29px;
    margin: 5px 0;
    border-radius: 5px;
}