.header{
    height: 50px;
    position:fixed;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav__link{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
    color: #444;
    transition: color 0.2s linear;
}

.nav__link:hover{
    color: #000081be;
    text-decoration: underline;
}