.newspapper__content{
    display: flex;
}

.newspapper__item{
    height: 350px;
    width: 300px;
    overflow: hidden;
    background-color: #000;
    border-radius: 10px;
    margin: 0 15px;
}

.newspapper__title{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 100px 0 15px 0;
    margin: 0;
}

.newspapper__subtitle{
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin-bottom: 50px;
}

.newspapper__img{
    max-height: 350px;
    width: 300px;
    opacity: 0.4;
    transition: opacity 0.2s linear;
}

.newspapper__img:hover{
    opacity: 1;
}

.newspapper__button{
    display: flex;
    justify-content: center;
    padding: 40px 0 80px 0 ;
}