.newspapper__content{
    display: flex;
}

.newspapper__item{
    height: 350px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 15px;
}

.newspapper__title{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 100px 0 15px 0;
    margin: 0;
}

.newspapper__subtitle{
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin-bottom: 50px;
}

.newspapper__img{
    max-height: 350px;
    width: 300px;
    opacity: 0.4;
    transition: opacity 0.2s linear;
}

.newspapper__img:hover{
    opacity: 1;
}

.newspapper__button{
    text-align: center;
    padding: 60px 0 80px 0 ;
}

.newspapper__item--first{
    background: url(../img/newspapper/newspapper-1.jpg) center no-repeat;
    background-size: cover;
   
}


.newspapper__item--second{
    background: url(../img/newspapper/newspapper-2.jpg) center no-repeat;
    background-size: cover;
}

.newspapper__item--third{
    background: url(../img/newspapper/newspapper-3.jpg) center no-repeat;
    background-size: cover;
}

.newspapper__item--fourth{
    background: url(../img/newspapper/newspapper-4.jpg) center no-repeat;
    background-size: cover;
}