.options__title{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 100px 0 15px 0;
    margin: 0;
}

.options__subtitle{
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin-bottom: 50px;
}

.options__inner{
    display: flex;
    flex-wrap: wrap;
}

.options__item{
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: #000;
    width: 22%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0px 20px;
}

.options__item:first-child{
    margin-left: 0;
}

.options__img{
   opacity: 0.5;
}

.options__desc{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

.options__desc--title{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.options__desc--subtitle{
    color: #fff;
}