.preview__content{
    display: flex;
}

.preview{
    height: 550px;
    background: url(../img/photodraw.ru-31717.jpeg) center bottom no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.preview__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.preview__about{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: 0.9;
}

.logo{
    padding-left: 25px;
}

.logo__img{
    width: 360px;
    box-shadow: 0px 0px 15px #000081be;
    border-radius: 50%;
}

.preview__text{
    width: 537px;
    font-size: 42px;
    font-weight: bold;
    padding-left: 25px;
    color: #000081be;
    
}
