.preview__content{
    display: flex;
}

.preview{
    height: 550px;
    background: url(../img/photodraw.ru-31717.jpeg) center bottom no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.preview__container{
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
}

.preview__about{
    width: 55%;
    height: 550px;
    display: flex;
    align-items: center;
    background-color: #fff;
    opacity: 0.9;
    margin-left: 75px;
    border-top-right-radius: 35px;
}

.logo{
    padding-left: 50px;
}

.logo__img{
    width: 325px;
    box-shadow: 0px 0px 15px #000081be;
    border-radius: 50%;
}

.preview__text{
    width: 530px;
    font-size: 41px;
    font-weight: bold;
    padding-left: 25px;
    color: #000081be;
    
}

.preview__info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 550px;
}

.preview__card{
    width: 390px;
    height: 375px;
    background: #fff;
    opacity: 0.8;
    border-top-left-radius: 35px;
    box-shadow: 0px 0px 10px #fff;
}

.preview__card--title--text{
    color: #000;
    text-align: center;
    font-size: 22px;
}

.form__text{
    font-size: 11px;
    color: #000;
    opacity: 0.7;
    text-align: center;
}

.form__link{
    color: #000081;
    text-decoration: underline;
}

.form__button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
