

.programms__title{
    font-size: 46px;
    font-weight: bold;
    color: #000;
    padding: 100px 0 50px 0;
    margin: 0;
}

.programms__subtitle{
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin-bottom: 50px;
}

.programms__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.programms__item{
    width: 30%;
    min-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 39px 39px 0;
}


.programms__item--title{
    text-align: center;
}

.programms__text{
    width: 100%;
    font-size: 13px;
}



.programms__item:nth-child(3n){
    margin-right: 0;
}


.programms__item:hover{
    border: 1px solid #000;
}

.programms__img{
   width: 100%;
    height: 150px;
}

.programms__item--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.programms__button{
    text-align: center;
    padding: 15px 0 80px;
}

.programms__about{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 45px 0 25px;
}

.programms__link{
    color: #000081be;
    font-weight: bold;
}