@import url(./header.css);
@import url(./preview.css);
@import url(./form.css);
@import url(./button.css);
@import url(./event.css);
@import url(./options.css);
@import url(./programms.css);
@import url(./newspapper.css);
@import url(./contacts.css);
@import url(./footer.css);




body{
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #444;
    background-color: #fff;
    -webkit-font-smoothing: antialiased
  }
  
  *, *::before, *::after{
    box-sizing: border-box;
  }
  
  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  a{
      color: inherit;
      text-decoration: none;
  }